.featured-grass-and-root {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./imgs/grass-and-root/featured.jpg') no-repeat center;
    color: white;
}

.featured-northwest-safe {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./imgs/northwest-safe/featured.jpg') no-repeat center;
    color: white;
}

.featured-vote-kael {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./imgs/vote-kael/featured.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

.featured-sundays-on-cole {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./imgs/sundays-on-cole/featured.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

.featured-mystik-music {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./imgs/mystik-music/featured.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

hr {
    background: lightslategrey;
}

.custom-p {
    max-width: 600px;
}